

<div class="call-action ba-1" data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
    <div class="container">
    <div class="row">
    <div class="col-lg-7 padding-tb-15px">
    <h2>Unbeatable Transport and Delivery Services</h2>
    <div class="text">Let SoppLogistics put a smile on your face today.</div>
    </div>
    <div class="col-lg-5">
    <div class="row">
    <div class="col-lg-4 col-md-4 sm-mb-45px">
    <a href="https://instagram.com/sopplogistics?igshid=1jy5mj2orjqf8" class="action-bottom layout-1">
    <img src="assets/icons/small-icon-1.png" alt=""> 
    <h4>Follow Us</h4>
    </a>
    </div>
    <div class="col-lg-4 col-md-4 sm-mb-45px">
    <a href="/about" class="action-bottom layout-1">
    <img src="assets/icons/small-icon-2.png" alt=""> 
    <h4>Read More</h4>
    </a>
    </div>
    <div class="col-lg-4 col-md-4">
    <a href="/contact" class="action-bottom layout-1">
    <img src="assets/icons/small-icon-3.png" alt=""> 
    <h4>Contact Us</h4>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>