<!DOCTYPE html>
<html lang="en-US">


<!-- home-600:41-->
<head>
    <title>SuppLogistics</title>
    <meta name="author" content="Nile-Theme">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
    <meta name="description" content="Transportation and Logistics Responsive HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- owl Carousel /assets -->
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- hover anmation -->
    <link rel="stylesheet" href="/assets/css/hover-min.css">
    <!-- flag icon -->
    <link rel="stylesheet" href="/assets/css/flag-icon.min.css">

    <!-- gallery -->
    <link rel="stylesheet" href="/assets/css/gallery.css">
    <!-- main style -->
    
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/colors/color-3.css">
    <!-- elegant icon -->
    <link rel="stylesheet" href="/assets/css/elegant_icon.css">
    <!-- fontawesome  -->
    <link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/assets/rslider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/assets/rslider/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/rslider/css/settings.css">
</head>

<body>
    <header>
        <div class="header-output " data-aos="slide-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
            <div class="header-output">

                <!-- Up Head -->
                <div class="up-head d-none d-lg-block background-grey-4" data-aos="slide-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-12">
                                <div class="row">
                                    <div class="col-md-4"><i style="color: black;" class="fa fa-phone margin-right-10px"></i > 08109488880</div>
                                    <div class="col-md-4"><i class="fa fa-envelope-o margin-right-10px"></i> contact@SuppLogistics.com</div>
                                    <div class="col-md-4"><i class="fa fa-map-marker margin-right-10px"></i> 18a Kwame Nkrumah Street 
                                        Asokoro - Abuja FCT</div>
                                </div>

                                <!-- 18a Kwame Nkrumah Street 
Asokoro Abuja FCT
Nigeria -->
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- lang dropdown -->
                                        <div class="dropdown show">
                                            <a class="dropdown-toggle text-white text-uppercase" href="#" >
                                <span class="flag-icon flag-icon-us margin-right-8px"></span> English
                              </a>
<!-- 
                                            <div class="dropdown-menu text-small text-uppercase" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es margin-right-8px"></span> Spanish</a>
                                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-mr margin-right-8px"></span> Arabic</a>
                                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr margin-right-8px"></span> French</a>
                                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-de margin-right-8px"></span> German</a>
                                            </div> -->
                                        </div>
                                        <!-- // lang dropdown -->

                                    </div>

                                    <div class="col-lg-6">
                                        <!--  Social -->
                                        <ul class="social-media list-inline text-right margin-0px text-white">
                                            <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                        </ul>
                                        <!-- // Social -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Up Head -->

                <div class="position-relative background-main-color">
                    <div class="container">
                        <div class="header-in">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    <a id="logo" href="/" class="d-inline-block margin-tb-15px"><img height="50px" src="/assets/newLogo.png" alt=""></a>
                                    <a class="mobile-toggle padding-15px background-second-color border-radius-3" href="#"><i class="fa fa-bars"></i></a>
                                </div>
                                <div class="col-lg-7 col-md-12 position-inherit">
                                    <ul id="menu-main" class="nav-menu float-xl-left text-lg-center link-padding-tb-25px white-link dropdown-dark">
                                   
                                                <li><a href="/">Home </a></li>
                                         
                                          
                                      
                                                <li><a href="/about">About Us</a></li>
                                                
                                                <li><a href="/contact">Contact Us</a></li>
                                                
                                       
                                              
                                            </div>
                                        </li>

                                    </ul>


