<div class="nile-about-section "  data-aos="slide-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
    <div class="container">
    <!-- Title -->
    <div class="section-title margin-bottom-40px">
    <div class="row justify-content-center">
    <div class="col-lg-7">
    <div class="icon text-main-color"><i class="fa fa-truck"></i></div>
    <div  class="h2">Our Service</div>
    <div class="des">SoppLogisics provides speedy and safe delivery of parcels and goods from one client to another. </div>
    </div>
    </div>
    </div>
    <!-- // End Title -->
    
    <div class="row " >
    
    <div class="col-lg-4" data-aos="flip-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1400" >
    <div class="service-icon-box">
    <div class="icon"><img src="assets/img/icon/fast-foodc.png" alt=""></div>
    <a href="#" class="title h2">Fast Deliveries</a>
    <div class="des">Quality bikes to ensure parcels are delivered on time</div>
    </div>
    <div class="service-icon-box">
    <div class="icon"><img src="assets/img/icon/luggage.png" alt=""></div>
    <a href="#" class="title h2">Cooler Bags</a>
    <div class="des">Coolers to maintain temperature of goods and perishables.</div>
    </div>
    </div>
    <div class="col-lg-4" data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1400" >
    <div class="text-center sm-mb-45px">
    <img src="https://www.kindpng.com/picc/m/365-3653285_african-american-delivery-man-png-download-aviation-ground.png" alt="" class="border-radius-500">
    </div>
    </div>
    <div class="col-lg-4"  >
    <div class="service-icon-box" data-aos="flip-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1400">
    <div class="icon"><img src="assets/img/icon/othersc.png" alt=""></div>
    <a href="#" class="title h2">Coverage</a>
    <div class="des">Sopplogistics provides deliveres to every nook and cranny within Abuja.</div>
    </div>
    <div class="service-icon-box" data-aos="flip-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="1400">
    <div class="icon"><img src="assets/img/icon/fashionC.png" alt=""></div>
    <a href="#" class="title h2">Safety</a>
    <div class="des">Sopplogistics ensures safety of your products and goods.</div>
    </div>
    </div>
    
    
    
    </div>
    
    
    <!-- <div class="text-center margin-top-35px">
    <a href="#" class="nile-bottom md">Show all <i class="fa fa-arrow-right"></i> </a>
    </div> -->
    
    </div>
    </div>
    