 
      <%- include("./partials/Header.ejs"); %>
  




      <div class="d-none d-xl-block pull-right model-link margin-top-15px">
        <a id="cart-link" class="model-link margin-right-25px text-dark opacity-hover-8" href="#">
    <span>3</span><i class="fa fa-shopping-cart"></i>
</a>
        <div class="cart-model">

            <div class="media">
                <a href="#">
        <img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-1.jpg" alt="Generic placeholder image">
      </a>
                <div class="media-body">
                    <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                    <h5 class="mt-0"><a href="#">Cargo Transportation</a></h5>
                    <h6 class="mt-0 font-2">1 X 250$</h6>
                </div>
            </div>

            <div class="media">
                <a href="#">
        <img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-2.jpg" alt="Generic placeholder image">
      </a>
                <div class="media-body">
                    <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                    <h5 class="mt-0"><a href="#">Air Freight</a></h5>
                    <h6 class="mt-0 font-2">1 X 250$</h6>
                </div>
            </div>


            <div class="media">
                <a href="#">
        <img class="d-flex align-self-start mr-3 width-50px" src="assets/img/cart-3.jpg" alt="Generic placeholder image">
      </a>
                <div class="media-body">
                    <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                    <h5 class="mt-0"><a href="#">Packaging & Storage</a></h5>
                    <h6 class="mt-0 font-2">1 X 250$</h6>
                </div>
            </div>

            <div class="padding-0px">
                <div class="cart-total background-main-color padding-lr-30px padding-tb-10px text-white">
                    <div class="desc">Subtotal:</div>
                    <div class="price"><strong>$71.00</strong></div>
                    <div class="clearfix"></div>
                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">view cart</a>
                <a href="#" class="btn btn-outline-primary btn-lg btn-block">Checkout</a>
            </div>
        </div>
    </div>
    <div class="d-none d-xl-block search-link pull-right model-link margin-top-15px">
        <a id="search-header" class="model-link margin-right-0px text-dark opacity-hover-8" href="#search">
    <i class="fa fa-search"></i>
</a>
    </div>

</div>
<div class="col-lg-2 col-md-12  d-none d-lg-block">
    <a data-toggle="modal" data-target=".bd-example-modal-lg" href="#" class="btn btn-sm border-radius-30 margin-tb-20px text-white  background-main-color  box-shadow float-right padding-lr-20px margin-left-30px d-block">
<i class="fa fa-envelope-o margin-right-10px"></i>  Speak To Us
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
<!-- // Header  -->

<!-- Search  -->
<div id="search">
<button type="button" class="close">×</button>
<form class="clearfix d-block">
<input type="search" value="" placeholder="Search for . . . ." />
<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<!-- // Search  -->

<!-- Get A Quote  -->
<%- include("./partials/SpeakToUs.ejs"); %>


<!-- // Get A Quote  -->


<div class="page-title">
<div class="container">
<div class="padding-tb-120px">
<h1>Contact Us</h1>
<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li class="active">Contact Us</li>
</ol>
</div>
</div>
</div>


<div class="padding-tb-100px">

<div class="container">
<div class="row">

<div class="col-lg-6 sm-mb-45px">
<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<h5>Phone :</h5>
<span class="d-block"><i class="fa fa-phone text-main-color margin-right-10px" aria-hidden="true"></i> +234 07012227774</span>
<span class="d-block sm-mb-30px"><i class="fa fa-mobile text-main-color margin-right-10px" aria-hidden="true"></i> +234 07011650750</span>
<h5 class="margin-top-20px">Address :</h5>
<span class="d-block sm-mb-30px"><i class="fa fa-map text-main-color margin-right-10px" aria-hidden="true"></i>18a Kwame Nkrumah Street </span>
<h5 class="margin-top-20px">Email :</h5>
<span class="d-block sm-mb-30px"><i class="fa fa-envelope-open text-main-color margin-right-10px" aria-hidden="true"></i> contact@supplogistics.com </span>
</div>

<div class="col-lg-6">
<div class="contact-modal">
<div class="background-main-color">
<div class="padding-30px">
<h3 class="padding-bottom-15px">Speak With Us</h3>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Full Name</label>
            <input type="text" class="form-control" id="inputName44" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" class="form-control" id="inputEmail44" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea11" rows="3"></textarea>
    </div>
    <a href="#" class="btn-sm btn-lg btn-block background-dark text-white text-center  text-uppercase rounded-0 padding-15px">SEND MESSAGE</a>
</form>
</div>
</div>
</div>
</div>


</div>
</div>

</div>


<div class="map-layout">
<div class="map-embed">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20980.754338669292!2d-118.30289592578626!3d34.08843374094495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z2YTZiNizINij2YbYrNmE2YjYs9iMINmD2KfZhNmK2YHZiNix2YbZitin2Iwg2KfZhNmI2YTYp9mK2KfYqiDYp9mE2YXYqtit2K_YqQ!5e0!3m2!1sar!2ssa!4v1534382441818" width="100%" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="container">
<div class="row">
<div class="col-lg-8"></div>
<div class="col-lg-4">
<div class="padding-tb-50px padding-lr-30px background-main-color pull-top-309px">
<div class="contact-info-map">
<div class="margin-bottom-30px">
<h2 class="title">Location</h2>
<div class="contact-info opacity-9">
    <div class="icon margin-top-5px"><span class="icon_pin_alt"></span></div>
    <div class="text">
        <span class="title-in">Location :</span> <br>
        <span class="font-weight-500 text-uppercase">Asokoro - Abuja FCT</span>
    </div>
</div>
</div>
<hr>
<div class="call_center margin-top-30px">
<h2 class="title">Call Center</h2>
<div class="contact-info opacity-9">
    <div class="icon  margin-top-5px"><span class="icon_phone"></span></div>
    <div class="text">
        <span class="title-in">Call Us :</span><br>
        <span class="font-weight-500 text-uppercase">(+234) 07012227774</span>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


    <%- include("./partials/Footer.ejs"); %>
