 
      <%- include("./partials/Header.ejs"); %>
  



    <div class="d-none d-xl-block search-link pull-right model-link margin-top-15px">
        <a id="search-header" class="model-link margin-right-0px text-dark opacity-hover-8" href="#search">
    <i class="fa fa-search"></i>
</a>
    </div>

</div>
<div class="col-lg-2 col-md-12  d-none d-lg-block">
    <a data-toggle="modal" data-target=".bd-example-modal-lg" href="#" class="btn btn-sm border-radius-30 margin-tb-20px text-white  background-main-color  box-shadow float-right padding-lr-20px margin-left-30px d-block">
<i class="fa fa-envelope-o margin-right-10px"></i>  Speak To Us
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
<!-- // Header  -->

<!-- Search  -->
<div id="search">
<button type="button" class="close">×</button>
<form class="clearfix d-block">
<input type="search" value="" placeholder="Search for . . . ." />
<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<!-- // Search  -->

<!-- Get A Quote  -->
<%- include("./partials/SpeakToUs.ejs"); %>


<!-- // Get A Quote  -->


<div class="page-title">
<div class="container">
<div class="padding-tb-120px">
<h1>Contact Us</h1>
<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li class="active">Contact Us</li>
</ol>
</div>
</div>
</div>


<div class="padding-tb-100px">

<div class="container">
<div class="row">

<div class="col-lg-6 sm-mb-45px">
<p> You can reach out to our customer care via the following details.</p>
<h5>Phone :</h5>
<span class="d-block"><i class="fa fa-phone text-main-color margin-right-10px" aria-hidden="true"></i> +234 08109488880</span>
<span class="d-block sm-mb-30px"><i class="fa fa-mobile text-main-color margin-right-10px" aria-hidden="true"></i> +234 07011650750</span>
<h5 class="margin-top-20px">Address :</h5>
<span class="d-block sm-mb-30px"><i class="fa fa-map text-main-color margin-right-10px" aria-hidden="true"></i>18a Kwame Nkrumah Street </span>
<h5 class="margin-top-20px">Email :</h5>
<span class="d-block sm-mb-30px"><i class="fa fa-envelope-open text-main-color margin-right-10px" aria-hidden="true"></i> supplogistics4@gmail.com </span>
</div>

<div class="col-lg-6">
<div class="contact-modal">
<div class="background-main-color">
<div class="padding-30px">
<h3 class="padding-bottom-15px">Speak With Us</h3>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Full Name</label>
            <input type="text" class="form-control" id="inputName44" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" class="form-control" id="inputEmail44" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea11" rows="3"></textarea>
    </div>
    <a href="#" class="btn-sm btn-lg btn-block background-dark text-white text-center  text-uppercase rounded-0 padding-15px">SEND MESSAGE</a>
</form>
</div>
</div>
</div>
</div>


</div>
</div>

</div>


<div class="map-layout">
    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%2018a%20Kwame%20Nkrumah%20Street%20Asokoro%20-%20Abuja%20FCT+(Sopp%20Logistics)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
<div class="container">
<div class="row">
<div class="col-lg-8"></div>
<div class="col-lg-4">
<div class="padding-tb-50px padding-lr-30px background-main-color pull-top-309px">
<div class="contact-info-map">
<div class="margin-bottom-30px">
<h2 class="title">Location</h2>
<div class="contact-info opacity-9">
    <div class="icon margin-top-5px"><span class="icon_pin_alt"></span></div>
    <div class="text">
        <span class="title-in">Location :</span> <br>
        <span class="font-weight-500 text-uppercase">Asokoro - Abuja FCT</span>
    </div>
</div>
</div>
<hr>
<div class="call_center margin-top-30px">
<h2 class="title">Call Center</h2>
<div class="contact-info opacity-9">
    <div class="icon  margin-top-5px"><span class="icon_phone"></span></div>
    <div class="text">
        <span class="title-in">Call Us :</span><br>
        <span class="font-weight-500 text-uppercase">(+234) 08109488880</span>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


    <%- include("./partials/Footer.ejs"); %>
